body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

p {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.text-color {
    color: #83cf18; 
}


.background-color {
    background-color: #87ceeb; 
    color: white;
}

.linear-gradient {
    background: linear-gradient(to right, #603a2b, #3c6c9c); 
    color: white;
}


.radial-gradient {
    background: radial-gradient(circle, #ff7f50, #1e90ff); 
    color: white;
}


.background-image {
    background-image: url("");
    background-size: cover;
    color: white;
}

.background-repeat {
    background-image: url("");
    background-repeat: repeat;
    color: white;
}

.background-no-repeat {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
}


footer {
    text-align: center;
    margin-top: 20px;
}
